:root {
  --handle-size: 2px;
  --tab-small: 15px;
  --tab-large: 60px;
  --tab-radius: 4px;
  --min-size: 20px;
}

.drawer {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--sand-1);
  border-radius: 8px;

  &.right {
    height: 100%;
    top: 0;
    min-width: var(--min-size);
  }

  &.bottom {
    width: 100%;
    left: 0;
    min-height: var(--min-size);
  }
}

.drag-handle {
  background-color: var(--sand-8);
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;

  &.right {
    width: var(--handle-size);
    height: 100%;
    cursor: col-resize;
  }

  &.bottom {
    width: 100%;
    height: var(--handle-size);
    cursor: row-resize;
  }
}
