@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-dark.css';
/* red */
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/crimson-dark.css';
/* pink */
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-dark.css';
/* purple */
@import '@radix-ui/colors/plum.css';
@import '@radix-ui/colors/plum-dark.css';
/* blue */
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-dark.css';
/* green */
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';
/* orange */
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/orange-dark.css';
/* yellow */
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
/* white */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: var(--sand-2);
  color: var(--sand-11);
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Delius Swash Caps', cursive;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 6px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sand-3);
  color: inherit;
}

button:hover {
  background-color: var(--sand-4);
}

button:active {
  background-color: var(--sand-5);
}
