@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-alpha.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/sand-dark-alpha.css';

@import '@radix-ui/colors/brown.css';
@import '@radix-ui/colors/brown-dark.css';

/* red */
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/crimson-dark.css';
/* pink */
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-dark.css';
/* purple */
@import '@radix-ui/colors/plum.css';
@import '@radix-ui/colors/plum-dark.css';
/* blue */
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-dark.css';
/* green */
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';
/* orange */
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/orange-dark.css';
/* yellow */
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
/* white */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 0.875rem;
  background-color: var(--sand-1);
  color: var(--sand-12);
  height: 100vh;
  width: 100vw;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Delius Swash Caps', cursive;
  margin: 0;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: var(--sand-3);

  &:hover {
    background-color: var(--sand-4);
  }

  &:active {
    background-color: var(--sand-5);
  }
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--brown-9);
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2px;
  background-color: var(--sand-1);
  padding: 8px 8px 0 8px;

  a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-of-type {
      grid-column: -2;
    }

    &.active {
      background-color: var(--brown-9);
    }
  }

  #theme-toggle {
    grid-column: -1;
    aspect-ratio: 1;
    background-color: transparent;
  }

  :hover {
    background-color: var(--sand-3);
  }

  :active {
    background-color: var(--sand-5);
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  background-color: var(--sand-1);
}
