@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-alpha.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/sand-dark-alpha.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/orange-dark.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-dark.css';

:root {
  --active-page: var(--sand-1);
  --shadow: var(--sand-a4);
  --white: var(--sand-1);
}

.dark {
  --active-page: var(--sand-1);
  --shadow: var(--sand-a4);
  --white: var(--sand-12);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 0.875rem;
  background-color: var(--sand-3);
  color: var(--sand-11);
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Delius Swash Caps', cursive;
  margin: 0;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background-color: var(--sand-3);

  &:hover {
    background-color: var(--sand-4);
  }

  &:active {
    background-color: var(--sand-5);
  }
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: flex-end;
  gap: 2px;

  h1 {
    padding: 8px 16px;
    background: linear-gradient(
      90deg,
      var(--grass-9) 0%,
      var(--blue-9) 25%,
      var(--violet-9) 50%,
      var(--pink-9) 75%,
      var(--grass-9) 100%
    );
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shimmer 6s linear infinite;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    padding: 6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: solid 2px transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      padding-bottom: 10px;
      background-color: var(--sand-4);
    }

    &.active {
      padding-bottom: 10px;
      background-color: var(--active-page);
      box-shadow: -8px 0 8px -8px var(--shadow), 0 -8px 8px -8px var(--shadow),
        8px 0 8px -8px var(--shadow);
    }

    &:last-of-type {
      grid-column: -2;
    }
  }

  #theme-toggle {
    grid-column: -1;
    aspect-ratio: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--active-page);
  box-shadow: 0px 0px 8px var(--shadow);
}

@keyframes shimmer {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}
